
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    opacity: 0;
  
  }
  
  body.loaded {
    visibility: visible;
    opacity: 1;
  }


.featured_projects .text-blk {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.featured_projects * {
  font-family: Nunito, sans-serif;
}
.featured_projects .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.featured_projects .container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: block;
}

.featured_projects .responsive-container-block.bg {
  max-width: 1500px;
  margin: 0;
  height: auto;
}

.featured_projects .container-block.bg {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured_projects .responsive-container-block.content {
  justify-content: space-evenly;
}

.featured_projects .im {
  width: 100%;
  background-color: #666666;
  height: 100%;
}

.featured_projects .responsive-container-block.img {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 2px;
  margin: 0;
}

.link-wrapper {
  position: relative;
  width: 33.3%;
  height: auto;
  max-height: 400px;
  padding: 2px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.featured_projects .responsive-container-block.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 10px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured_projects .responsive-container-block.desc {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #817c76c8; /* Adjust opacity as needed */
  padding: 10px;
}

.featured_projects .responsive-container-block.opt-cont {
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 5px;
}


.featured_projects .text-blk.tab {
  font-size: 20px;
  line-height: 10.1px;
  display: flex;
  align-items: center;
  color: #999999;
  font-weight: 500;
  margin-bottom: 2vh;
  cursor: pointer;
  text-align: center;
}


.featured_projects .text-blk.tab.tab-active {
  color: #575450;
  
}

.featured_projects .text-blk.title {
  font-size: 23px;
  font-weight: 600;
  padding: 10px;
}

.featured_projects .text-blk.info {
  font-size: 20px;
  padding: 10px;
}

@media(max-width:1600px){
.featured_projects .text-blk.tab {
  font-size: 16px;

}
}

.featured_projects .text-blk.heading {
  font-size: 25px;
  line-height: 34.1px;
  color: #817C76;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #817C76;
}

.featured_projects .tab:hover {
  cursor: pointer;
}

.featured_projects .bg {
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}

.featured_projects .content {
  padding: 0 0 0 0;
}

.featured_projects .opt-cont {
  min-height: auto;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .featured_projects .text-blk.info {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}


@media (max-width: 1300px) {

  .featured_projects .container-block.bg {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .featured_projects .im {
    width: 100%;
    height: 100%;
  }


.link-wrapper {
  width: 50%;
  position: relative;
  height: auto;
  padding: 0;
  margin: 0;
}

.featured_projects .responsive-container-block.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 10px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured_projects .responsive-container-block.desc {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #817c76a7; /* Adjust opacity as needed */
  padding: 10px;
}

  .featured_projects .responsive-container-block.img.hide {
    display: contents;

  }

  .featured_projects .responsive-container-block.img.hide.hidden {
    display: none;
  }

  .featured_projects .responsive-container-block.opt-cont {
    flex-direction: column;
  }

}








@media (max-width: 768px) {
  .featured_projects .im {
    width: 100%;
  }

  .link-wrapper {
    width: 60%;
  }

  .featured_projects .responsive-container-block.img.hide {
    display: none;
  }

  .featured_projects .responsive-container-block.img.hide.hidden {
    display: none;
  }

  .featured_projects .responsive-container-block.opt-cont {
    flex-direction: column;
  }

  .featured_projects .text-blk.info {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .featured_projects .text-blk.title {
    font-size: 13px;
    line-height: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .featured_projects .responsive-container-block.opt-cont {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .featured_projects .text-blk .tab{
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .featured_projects .im {
    width: 100%;
  }

  .featured_projects .im {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .link-wrapper {
    width: 100%;
  }

  .featured_projects .responsive-container-block.opt-cont {
    flex-direction: column;
  }

  .featured_projects .responsive-container-block.img.hidden {
    display: none;
  }

  .featured_projects .text-blk.info {
    font-size: 15px;
    line-height: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .featured_projects .text-blk.title {
    font-size: 17px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
margin: 0;
}

.wk-desk-1 {
width: 8.333333%;
}

.wk-desk-2 {
width: 16.666667%;
}

.wk-desk-3 {
width: 25%;
}

.wk-desk-4 {
width: 33.333333%;
}

.wk-desk-5 {
width: 41.666667%;
}

.wk-desk-6 {
width: 50%;
}

.wk-desk-7 {
width: 58.333333%;
}

.wk-desk-8 {
width: 66.666667%;
}

.wk-desk-9 {
width: 75%;
}

.wk-desk-10 {
width: 83.333333%;
}

.wk-desk-11 {
width: 91.666667%;
}

.wk-desk-12 {
width: 100%;
}

@media (max-width: 1024px) {
.wk-ipadp-1 {
  width: 8.333333%;
}

.wk-ipadp-2 {
  width: 16.666667%;
}

.wk-ipadp-3 {
  width: 25%;
}

.wk-ipadp-4 {
  width: 33.333333%;
}

.wk-ipadp-5 {
  width: 41.666667%;
}

.wk-ipadp-6 {
  width: 50%;
}

.wk-ipadp-7 {
  width: 58.333333%;
}

.wk-ipadp-8 {
  width: 66.666667%;
}

.wk-ipadp-9 {
  width: 75%;
}

.wk-ipadp-10 {
  width: 83.333333%;
}

.wk-ipadp-11 {
  width: 91.666667%;
}

.wk-ipadp-12 {
  width: 100%;
}
}

@media (max-width: 768px) {
.wk-tab-1 {
  width: 8.333333%;
}

.wk-tab-2 {
  width: 16.666667%;
}

.wk-tab-3 {
  width: 25%;
}

.wk-tab-4 {
  width: 33.333333%;
}

.wk-tab-5 {
  width: 41.666667%;
}

.wk-tab-6 {
  width: 50%;
}

.wk-tab-7 {
  width: 58.333333%;
}

.wk-tab-8 {
  width: 66.666667%;
}

.wk-tab-9 {
  width: 75%;
}

.wk-tab-10 {
  width: 83.333333%;
}

.wk-tab-11 {
  width: 91.666667%;
}

.wk-tab-12 {
  width: 100%;
}
}

@media (max-width: 500px) {
.wk-mobile-1 {
  width: 8.333333%;
}

.wk-mobile-2 {
  width: 16.666667%;
}

.wk-mobile-3 {
  width: 25%;
}

.wk-mobile-4 {
  width: 33.333333%;
}

.wk-mobile-5 {
  width: 41.666667%;
}

.wk-mobile-6 {
  width: 50%;
}

.wk-mobile-7 {
  width: 58.333333%;
}

.wk-mobile-8 {
  width: 66.666667%;
}

.wk-mobile-9 {
  width: 75%;
}

.wk-mobile-10 {
  width: 83.333333%;
}

.wk-mobile-11 {
  width: 91.666667%;
}

.wk-mobile-12 {
  width: 100%;
}
}


.heading-container {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10vh;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.content-image-1 {
  width: 100%; /* or a specific width like 300px */
  height: auto; /* or a specific height like 200px */
  object-fit: contain; /* or 'contain', 'fill', 'none', 'scale-down' */
  display: block; /* Ensures proper layout */
}

.heading-container p {
  text-align: center;
  width: 100%;
  padding-top: 3vh;
  font-size: 1.2em;
}

.head {
  font-size: 2.5em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.animated-line-container2 {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;  
}

.animated-line2 {
  width: 0;
  height: 3px;
  background-color: #817C76;
  opacity: 0;
  transition: width 2s ease-out, opacity 0.5s ease-out;
  position: relative;
}

.animated-line-container2.animate .animated-line2 {
  width: 20%; /* Adjust width as needed */
  opacity: 1;
}
